    <!-- Start Content -->
    <div id="content">

      <div class="container">
        <div class="row">

          <!-- Start Big Heading -->
          <div class="big-title text-center" style="display: flex; flex-direction: row !important; justify-content: center; align-items: center; text-align: center;">
            <img alt="" src="<%= image_path('checkbox_green.png') %>" style="vertical-align: middle; margin-right: 2rem;"></img>
            <div>
              <h1>Better matches are on the way</h1>
              <p class="title-desc">In the meantime, feel free to <a href="#" style="text-decoration: underline;">add new job adverts</a>. </p>
            </div>
          </div>
          <!-- End Big Heading -->

          <!-- Divider -->
          <hr/>
          <div class="hr1 margin-60"></div>

          <!-- Start Big Heading -->
          <div class="big-title text-center">
            <h1>Software Engineer</h1>
          </div>
          <!-- End Big Heading -->

          <div class="hr1 margin-60"></div>

          <section class="container potential-candidate">
            <div class="col-md-3 col-sm-6">
              <div style="display: flex; justify-content: flex-end">
                <div class="action-icons">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-times"></i>
                </div>
                <img alt="" src="<%= image_path('boy.png') %>"></img>
              </div>
            </div>

            <div class="col-md-9 col-sm-6">
              <h2><a href="#">Alex Lee</a></h2>
              <h4>Senior Software Engineer at ThriveMind who build a consuer side ATS using Ruby and Javascript.</h4>
              <br/>
              <p>Senior Software Engineer at ThriveMind</p>
              <p>Nanyang Polytechnic School of Information Technology, Diploma in Information Technology</p>
              <br/>
              <p>Singapore, Singapore</p>
              <p>Prefer working as </p>
            </div>
          </section>

          <hr width="75%" />

          <section class="container potential-candidate">
            <div class="col-md-3 col-sm-6">
              <div style="display: flex; justify-content: flex-end">
                <div class="action-icons">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-times"></i>
                </div>
                <img alt="" src="<%= image_path('girl.png') %>"></img>
              </div>
            </div>

            <div class="col-md-9 col-sm-6">
              <div>
                <h2><a href="#">Germaine Teo</a></h2>
                <h4>Project Engineer at DBS who build a server side API using Ruby and Javascript.</h4>
                <br/>
                <p>Project Engineer at DBS</p>
                <p>Nanyang Polytechnic School of Information Technology, Diploma in Information Technology</p>
                <br/>
                <p>Singapore, Singapore</p>
                <p>Prefer working as </p>
              </div>
            </div>
          </section>

        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- .content -->