 <div id="content">
      <div class="container">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id: 'login-form'}) do |f| %>
  <%= devise_error_messages! %>
  
<h1>Change your password</h1>
  <div class="input-field">
    <input id="user_reset_password_token" name="user[reset_password_token]" type="hidden" value= <%= reset_password_token %> />

 
    <input type="password" name="user[password]" required placeholder="Password" />
    <input type="password" name="user[password_confirmation]" required placeholder="Confirm Password" />


  
   <button id="submit" class="btn-system btn-large" type="submit" style="float: right;">Change</button>
  </div>
<% end %>
  
<%= render "devise/shared/links" %>
  </div>
    </div>