    <!-- Start Content -->
    <div id="content" style="background: url('<%= image_path('testimonials-bg3.jpg') %>');">
      <div class="container">
        <%= render "shared/messages" %>
		<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id:'login-form'}) do |f| %>
	      <h1>Reset Password</h1>
		  <div class="input-field">
		  	<%= devise_error_messages! %>
		    <input type="email" name="user[email]" required placeholder="Email" style="margin-top:25px;" autofocus/>
	        <button id="submit" class="btn-system btn-large" type="submit" style="float: right; margin-bottom:20px;">Submit</button>
		  </div>
	    <% end %>
	  </div>
	</div>
