<div class="col-md-3 sidebar left-sidebar">
<div class="widget widget-categories">
              <ul>
              <li>
                  <a href="/onboarding/info">Basic Info</a>
                </li>
                <li>
                  <a href="/onboarding/online-presence">Résumé and Links</a>
                </li>
                <li>
                  <a href="/onboarding/history">Work and Education</a>
                </li>
                <li>
                  <a href="/onboarding/role_skill">Role and Skills</a>
                </li>
                <li>
                  <a href="/onboarding/summary">Summary</a>
                </li>
                <li>
                  <a href="/onboarding/portfolio">Portfolio</a>
                </li>
                <li>
                  <a href="/onboarding/job-info">Job Preferences</a>
                </li>
                <li>
                  <a href='/users/<%=current_user.id%>'>View Profile</a>
                </li>
                <li>
                  <a href='<%= edit_user_registration_path %>'>Change Password</a>
                </li>
              </ul>
            </div>
            </div>

