    <!-- Start Page Banner -->
    <div class="page-banner" style="padding-top:30px; padding-bottom:30px; border-top:1px solid #eee; border-bottom:1px solid #eee; background:#f9f9f9;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Employers</h2>
            <p>I will describe something here</p>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumbs">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>Employers</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->