        <div class="content">
          <div class="page-banner" style="padding-top:30px; padding-bottom:30px; border-top:1px solid #eee; border-bottom:1px solid #eee; background:#f9f9f9; height:200px;">
            <div class="container">
              <div class="row">
                <div class="col-md-12" style="text-align:center;">
                  <h2 style="text-transform:capitalize;">We bring job offers to you </h2>
                  <p style="padding-top:5px;">It's a marketplace where companies make you job offers.</p>
                  <p style="padding-top:30px;"><a href="#" class="btn-system btn-large">Get Job Offers Today</a></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Divider -->
          <div class="hr1 margin-60"></div>

          <div class="container">
            <div class="row">
              <div class="col-md-6" style="border-bottom:1px solid #eee;">
                <img alt="" src="<%= image_path('requests.png') %>">
              </div>
              <div class="col-md-6" style="height:460px; display:flex; justify-content:center; flex-direction:column; padding-left: 100px;">
                <h2 style="font-weight:300; font-size: 3rem;">Let companies apply to you, <br/>not the other way around.</h2>
                <p style="padding-top:20px;">Receive interview offers which include salary and equity information.</p>
                <p style="padding-top:10px;">Companies compete for your attention. Engage only with the companies you like.</p>
              </div>
            </div>
          </div>

          <!-- Divider -->
          <div class="hr1 margin-60"></div>

          <div class="container">
            <div class="row">
              <div class="col-md-6" style="height:460px; display:flex; justify-content:center; flex-direction:column; padding-right: 100px;">
                <h2 style="font-weight:300; font-size: 3rem;">Showcase your experience <br/>and career goals.</h2>
                <p style="padding-top:20px;">Create a profile to highlight your experience and desired career move.</p>
                <p style="padding-top:10px;">All you have to do is just upload your resume!</p>
              </div>
              <div class="col-md-6" style="border-bottom:1px solid #eee;">
                <img alt="" src="<%= image_path('profile.png') %>">
              </div>
            </div>
          </div>

          <!-- Divider -->
          <div class="hr1 margin-60"></div>

          <div class="container">
            <div class="row">
              <div class="col-md-6" style="border-bottom:1px solid #eee;">
                <img alt="" src="<%= image_path('list.png') %>">
              </div>
              <div class="col-md-6" style="height:460px; display:flex; justify-content:center; flex-direction:column; padding-left: 100px;">
                <h2 style="font-weight:300; font-size: 3rem;">Companies interested in you will request an interview.</h2>
                <p style="padding-top:20px;">Privacy is important - your profile is not shown to former employers or any other company you list.</p>
                <p style="padding-top:10px;">While on the platform, you’ll be showcased to the 2,000+ vetted companies using Hired every week.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Divider -->
        <div class="hr1 margin-60"></div>