
<div id="content" style="background: url('<%= image_path('testimonials-bg3.jpg') %>');">
  <div class="container">
    <div class='box' style="max-width: 800px;">
      <div class="form-header"><h3>Social Media Integrations</h3></div>
      <section style="padding: 3rem; margin-top: 10px; margin-bottom: 40px;">  
        <div class="col-md-3" style="text-align: center;">
          <img alt="Google" src="<%= image_path('google.png') %>">
        </div>
        <div class="col-md-6">Enables sign-in with Google and Google Calendar integration.</div>
        <div class="col-md-3">
          <% if Identity.where(:user_id => current_user.id, provider: 'google').present? && current_user.provider != 'google' %>
          <a class="btn-system btn-small" data-confirm="Are you sure you want to disconnect your Google account?" data-remote="true" rel="nofollow" data-method="delete" href="/users/auth/google" style="float:right;">Disconnect</a>
          <% elsif current_user.provider == 'google'%>
          <label style="float:right;">Signed in from Google</label>
          <%else %>
          <a href="/users/auth/google" class="btn-system btn-small" style="float:right;">Connect</a>
          <% end %>
        </div>
      </section>
      <hr style="margin-bottom: 10px;"/>
      <section style="padding: 3rem; margin-bottom: 40px;">  
        <div class="col-md-3" style="text-align: center;">
          <img alt="Facebook" src="https://d1enbull9nrjgw.cloudfront.net/assets/integrations/facebook-af2f447bb6c269dbf1ec82c1bd890aec.png">
        </div>
        <div class="col-md-6">Enables sign-in with Facebook and imports your Facebook profile photo.</div>
        <div class="col-md-3">
          <% if Identity.where(:user_id => current_user.id, provider: 'facebook').present? && current_user.provider != 'facebook'%>
          <a data-confirm="Are you sure you want to disconnect your Facebook account?" data-remote="true" rel="nofollow" data-method="delete" href="/users/auth/facebook" style="float:right;">Disconnect</a>
          <% elsif current_user.provider == 'facebook'%>
          <label style="float:right;">Signed in from Facebook</label>
          <% else %>
          <a href="/users/auth/facebook" class="btn-system btn-small" style="float:right;" >Connect</a>
          <% end %>
        </div>
      </section>
      <hr style="margin-bottom: 10px;"/>
      <section style="padding: 3rem; margin-bottom: 40px;">  
        <div class="col-md-3" style="text-align: center;">
          <img alt="Linkedin" src="<%= image_path('linkedIn.png') %>">
        </div>
        <div class="col-md-6">Enables sign-in with LinkedIn and links your public profile.</div>
        <div class="col-md-3">
          <% if Identity.where(:user_id => current_user.id, provider: 'linkedin').present? && current_user.provider!= 'linkedin'%>
          <a data-confirm="Are you sure you want to disconnect your LinkedIn account?" data-remote="true" rel="nofollow" data-method="delete" href="/users/auth/linkedin" style="float:right;">Disconnect</a>
          <% elsif current_user.provider == 'linkedin'%>
          <label style="float:right;">Signed in from LinkedIn</label>
          <% else %>
          <a href="/users/auth/linkedin" class="btn-system btn-small" style="float:right;">Connect</a>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>