    <!-- Start Page Banner -->
    <div class="page-banner" style="padding-top:30px; padding-bottom:30px; border-top:1px solid #eee; border-bottom:1px solid #eee; background:#f9f9f9;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2><span style="border-bottom: 3px solid #dd1d21;">Privacy Policy</span></h2>
            <p style="padding-top: 10px;">We respect the privacy of everyone who visits this website.</p>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumbs">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>Privacy Policy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->
    <!-- Start Content -->
    <div id="content">
      <!-- Start Privacy Policy Section -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 page-content">
            Version <%= @version %><br>Last Revised: <%= @last_revised_date %><br>
            <p>Headhunter is commited to protecting your privacy. We have prepared this Privacy Policy to describe to you our approach towards the use of your Personal Data (as defined below) we collect from users of our website, located at <%= @host %>, and of our online service</p>
            <hr>
            <br>
            <p>Click on links below for more information:</p>
            <!-- Toggle -->
            <div class="panel-group">

              <!-- Start Toggle 1 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i> Questions/Contacting Headhunter/Reporting Violations
                    </a>
                  </h4>
                </div>
                <div id="collapse-1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>If you have any questions or concerns or complaints about our Privacy Policy on how we collect, use, disclose and/or process Personal Data, or if you want to report any security violations to us, please contact us at the following address or phone number:
                    <br><i class="fa fa-map-marker"></i> 180 Ang Mo Kio Ave 8, Singapore 569830 | <i class="fa fa-phone"></i> +65 6550 1637
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Toggle 1 -->

              <!-- Start Toggle 2 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i>
                      <i class="fa fa-check-square-o"></i> User Consent
                    </a>
                  </h4>
                </div>
                <div id="collapse-2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>By submitting your personal data to us, you will be treated as having given your permission – where necessary and appropriate – for disclosures referred to in this policy.</p>
                  </div>
                </div>
              </div>
              <!-- End Toggle 2 -->

              <!-- Start Toggle 3 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i>
                      <i class="fa fa-child"></i> &nbsp;Special Notice - if you are under 13 years old
                    </a>
                  </h4>
                </div>
                <div id="collapse-3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>We do not intentionally gather Personal Data from visitors who are under the age of 13. If a child under 13 submits Personal Data to Headhunter and we learn that the Personal Data is the information of a child under 13, we will attempt to delete the information as soon as possible. If you believe that we might have any Personal Data from a child under 13, please contact us at <a href="mailto:headhunter.nyp@gmail.com">headhunter.nyp@gmail.com</a>.</p>
                  </div>
                </div>
              </div>
              <!-- End Toggle 3 -->

              <!-- Start Toggle 4 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i>
                      <i class="fa fa-tags"></i> Types Of Data We Collect
                    </a>
                  </h4>
                </div>
                <div id="collapse-4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>“Personal Data” means “data, whether true or not, about an individual who can be identified from that data or from that data and other information to which the organisation has or is likely to have access”, including, for example, your first and last name, location, phone number, gender, e-mail and mailing addresses, professional title, company name, employment history, education history, personal summary, as well as any other information about you that is associated with or linked to any of the foregoing data. “Anonymous Data” means data that is not associated with or linked to your Personal Data; Anonymous Data does not, by itself, permit the identification of individual persons. We collect Personal Data and Anonymous Data, as described below.</p>
                    <ol style="list-style-type: upper-alpha;">
                      <li class="accent-color">Information You Provide To Us</li>
                      <ul style="list-style-type: disc; padding: 15px 0; padding-left: 20px;">
                        <li>We may collect Personal Data from you, such as your first and last name, location, phone number, gender, e-mail and mailing addresses, professional title, company name, employment history, education history, personal summary, and password when you create an account to log in to our Site.</li>
                        <li>We retain information on your behalf, such as files and messages that you store using your Account.</li>
                        <li>If you provide us feedback or contact us via e-mail, we will collect your name and e-mail address, as well as any other content included in the e-mail, in order to send you a reply.</li>
                        <li>When you post content (text, images, photographs, messages, comments or any other kind of content that is not your e-mail address) on our Site, the information contained in your posting will be stored in our servers and other users will be able to see it, along with your profile photo and any other information that you choose to make public on your public profile page (“Profile”). The information that you provide in your Profile will be visible to others, including anonymous visitors to the Site.</li>
                        <li>When you post messages on the message boards of our Site, the information contained in your posting will be stored on our servers and other users will be able to see it.</li>
                        <li>When you participate in one of our surveys, we may collect additional profile information.</li>
                        <li>We also collect other types of Personal Data that you provide to us voluntarily, such as your operating system and version, product registration number, and other requested information if you contact us via e-mail regarding support for the Service.</li>
                        <li>We may also collect Personal Data at other points in our Site that state that Personal Data is being collected.</li>
                      </ul>
                      <li class="accent-color">Information You Provide To Facebook And Other Social Networking Sites</li>
                      <p style="padding-top: 15px; padding-left: 12px;">"If you are not currently registered as a user of the Service, and you click on “Sign In” using Facebook, Google Plus, LinkedIn, or another Social Networking Site (“SNS") that we support, you will first be asked to enter your SNS credentials and then be given the option to register for the Service. In this case, we may receive information from that SNS to make it easier for you to create an Account on the Site. Any information that we collect from your SNS account may depend on the privacy settings you have with that SNS, so please consult the SNS’s privacy and data practices. By signing in and registering for the Service through your SNS credentials, you consent to our collection of your Personal Data from that SNS or as otherwise provided by you through that SNS."</p>
                      <li class="accent-color">Information Collected Via Technology</li>
                      <ul style="list-style-type: disc; padding: 15px 0; padding-left: 20px;">
                        <li>Information Collected by Our Servers. To make our Site and Service more useful to you, our servers (which may be hosted by a third party service provider) collect information from you, including your browser type, operating system, Internet Protocol (“IP”) address (a number that is automatically assigned to your computer when you use the Internet, which may vary from session to session), domain name, and/or a date/time stamp for your visit.</li>
                        <li>Log Files. As is true of most websites, we gather certain information automatically and store it in log files. This information includes IP addresses, browser type, Internet service provider (“ISP”), referring/exit pages, operating system, date/time stamp, and clickstream data. We use this information to analyze trends, administer the Site, track users’ movements around the Site, gather demographic information about our user base as a whole, and better tailor our Service to our users’ needs. For example, some of the information may be collected so that when you visit the Site or the Service again, it will recognize you and the information could then be used to serve advertisements and other information appropriate to your interests. Except as noted in this Privacy Policy, we do not link this automatically-collected data to Personal Data.</li>
                        <li>Cookies. Like many online services, we use cookies to collect information. “Cookies” are small pieces of information that a website sends to your computer’s hard drive while you are viewing the website and may, in some situations, constitute Personal Data. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Site. This type of information is collected to make the Site more useful to you and to tailor the experience with us to meet your special interests and needs.</li>
                        <li>Google Analytics. We use Google Analytics to help analyze how users use the Site. Google Analytics uses Cookies to collect information such as how often users visit the Site, what pages they visit, and what other sites they used prior to coming to the Site. We use the information we get from Google Analytics only to improve our Site and Service. Google Analytics collects only the IP address assigned to you on the date you visit the Site, rather than your name or other personally identifying information. We do not combine the information generated through the use of Google Analytics with your Personal Data. Although Google Analytics plants a persistent Cookie on your web browser to identify you as a unique user the next time you visit the Site, the Cookie cannot be used by anyone but Google. Google’s ability to use and share information collected by Google Analytics about your visits to the Site is restricted by the Google Analytics Terms of Use and the Google Privacy Policy.</li>
                      </ul>
                      <li class="accent-color">Information Collected From You About Others</li>
                      <p style="padding-top: 15px; padding-left: 12px;">If you decide to invite a third party to create an Account, we will collect your and the third party’s names and e-mail addresses in order to send an e-mail and follow up with the third party. We rely upon you to obtain whatever consents from the third party that may be required by law to allow us to collect, use, access and upload the third party’s names and e-mail addresses as required above. Therefore, by providing us with the third party’s name and e-mail address, you represent and warrant that the third party has consented to you (i) collecting that third party’s Personal Data and disclosing such Personal Data to us, and (ii) for us to collect, use, disclose and/or process that third party’s Personal Data for the purposes set out in this Privacy Policy.</p>
                      <p style="padding-left: 12px;">You or the third party may contact us at headhunter.nyp@gmail.com to request the removal of this information from our database at any time.</p>
                      <li class="accent-color">Google Id</li>
                      <p style="padding-top: 15px; padding-left: 12px;">We allow you to use your Google ID to set up an Account. If you wish to use your Google account you are taken to the Google website to login to your account and this information is then shared with us for the sole purpose of setting up your Account. By setting up your Account through your Google ID, you consent to our collection, use, disclosure and/processing of such Personal Data that is shared with us through your access and use of your Google ID.</p>
                    </ol>
                  </div>
                </div>
              </div>
              <!-- End Toggle 4 -->

              <!-- Start Toggle 5 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-5" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i>
                      <i class="fa fa-hand-pointer-o"></i> Purpose of the collection of your data 
                    </a>
                  </h4>
                </div>
                <div id="collapse-5" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>One of the purposes of our website is to inform you of who we are and what we do. We collect and use personal information (including name, address, telephone number and email) to better provide you with the required services, or information. We would therefore use your personal information in order to:</p>
                    <ul> 
 <li>respond to queries or requests submitted by you</li> 
 <li>process orders or applications submitted by you</li> 
 <li>administer or otherwise carry out our obligations in relation to any agreement you have with us</li> 
 <li>anticipate and resolve problems with any goods or services supplied to you</li> 
 <li>create products or services that may meet your needs.</li> 
</ul>
 
<p>To optimise our services we may wish to use your personal data for direct marketing. As we respect your privacy we will only use your personal data for this purpose when you are aware thereof and if required we will request your consent prior to using your personal data for direct marketing.</p>
 
<p>Additionally, if at any time you wish us to stop using your information for any or all of the above purposes, please contact us as set out below. We will stop the use of your information for such purposes as soon as it is reasonably possible to do so.</p>
 
<p>In addition, the collected personal data will (occasionally) be transferred to selected third parties, which may be located outside of Singapore as part of the services offered to you through our site. By way of example, this may happen if any of our servers are from time to time located in a country outside of Singapore or one of our service providers is located in a country outside of Singapore.<br /> </p>
 
<p>These third parties will not use your personal information for any other purposes than what we have agreed with them. Shell requests those third parties to implement adequate levels of protection in order to safeguard your personal information.</p>
 
<p>We respect your personal information and therefore, we will take steps to ensure that your privacy rights continue to be protected if we transfer your information outside of Singapore in this way. In addition, if you use our services while you are outside Singapore, your information may be transferred outside Singapore in order to provide you with those services.<br /> </p>
 
<p>Except as set out in this privacy policy, we will not disclose any personally identifiable information without your permission unless we are legally entitled or required to do so (for example, if required to do so by legal process or for the purposes of prevention of fraud or other crime) or if we believe that such action is necessary to protect and/or defend our rights, property or personal safety and those of our users/customers or other individuals.</p>
 
<p>Please be assured that we will not use your information for any of the purposes if you have indicated that you do not wish us to use your information in this way when submitting the information or at a later stage.</p>
  
 
<ul> </p>
                  </div>
                </div>
              </div>
              <!-- End Toggle 5 -->

              <!-- Start Toggle 6 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-6" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i>
                      <i class="fa fa-unlock"></i> Disclosure Of Your Personal Data
                    </a>
                  </h4>
                </div>
                <div id="collapse-6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>We are interested in your views, and we value feedback from our clients and visitors, we therefore have set up notice boards, newsgroups, feedback, email, forum facilities and/ or chat rooms. If at any time this website offers any chat rooms, notice board facilities, newsgroups etc we may collect the personal information that you disclose.</p>
                  </div>
                </div>
              </div>
              <!-- End Toggle 6 -->

              <!-- Start Toggle 7 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-7" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i>
                      <i class="fa fa-users"></i> Interaction between you and us
                    </a>
                  </h4>
                </div>
                <div id="collapse-7" class="panel-collapse collapse">
                  <div class="panel-body">
                   <p>We are interested in your views, and we value feedback from our clients and visitors, we therefore have set up notice boards, newsgroups, feedback, email, forum facilities and/ or chat rooms. If at any time this website offers any chat rooms, notice board facilities, newsgroups etc we may collect the personal information that you disclose.</p>
                   <p>Such information will be used in accordance with this privacy policy. However, we can of course not control and be responsible for other parties' use of the personal information which you make available to them through this website. We encourage you to be careful about what personal information you disclose in this way.</p>
  
                  </div>
                </div>
              </div>
              <!-- End Toggle 7 -->

              <!-- Start Toggle 8 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-8" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i>
                      <i class="fa fa-map-signs"></i> Cookies policy
                    </a>
                  </h4>
                </div>
                <div id="collapse-8" class="panel-collapse collapse">
                  <div class="panel-body">
                    
                 <p>We use the term “cookies” to refer to cookies and other similar technologies covered by the EU Directive on privacy in electronic communications.</p>
                <ul> 
                 <li>What is a cookie? Cookies are small data files that your browser places on your computer or device. Cookies help your browser navigate a website and the cookies themselves cannot collect any information stored on your computer or your files.When a server uses a web browser to read cookies they can help a website deliver a more user-friendly service. To protect your privacy, your browser only gives a website access to the cookies it has already sent to you.</li> 
                </ul>
                  </div>
                </div>
              </div>
              <!-- End Toggle 8 -->

              <!-- Start Toggle 9 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-9" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i>
                      <i class="fa fa-user-secret"></i> Security Of Your Personal Data
                    </a>
                  </h4>
                </div>
                <div id="collapse-9" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>We have implemented technology and policies with the objective of protecting your privacy from unauthorised access and improper use and will update these measures as new technology becomes available, as appropriate.</p>
                  </div>
                </div>
              </div>
              <!-- End Toggle 9 -->

              <!-- Start Toggle 10 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-10" class="collapsed">
                      <i class="fa fa-angle-down control-icon"></i>
                      <i class="fa fa-refresh"></i> Changes To This Privacy Policy
                    </a>
                  </h4>
                </div>
                <div id="collapse-10" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p><p>From time to time we may make changes to this privacy policy. If we make any substantial changes to this privacy policy and the way in which we use your personal data we will post these changes on this page and will do our best to notify you of any significant changes. Please check our privacy policy on a regular basis.</p>
  </p>
                  </div>
                </div>
              </div>
              <!-- End Toggle 10 -->

            </div>
            <!-- End Toggle -->
          </div>
        </div>
      </div>
      <!-- .container -->
      <!-- End Privacy Policy Section -->
    </div> 
    <!-- End Content -->