    <!-- Start Page Banner -->
    <div class="page-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Privacy Policy</h2>
            <p>I will describe how it works here</p>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumbs">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>Privacy Policy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->