// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.candidate-match-results {
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center; 
	text-align: center;	
}

.candidate-match-results > img#green-check {
	vertical-align: middle; 
	margin-right: 2rem; 
	min-height: 80px; 
	min-width: 75px;
}

.social-media-integrations {
	padding: 3rem; 
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
}

.social-media-integrations > div:nth-child(1) {
	text-align: center;
}

.social-media-integrations div:nth-child(3) {
	text-align: right;
}

.navbar-signed-in {
	background: #EBEBEB none repeat scroll 0% 0%;
}

.navbar-signed-in li.drop > a,
.navbar-signed-in li > a {
	padding: 16px 15px!important;
}

.slicknav_menu li > a {
	padding: 5px 10px!important;
	margin: 2px 5px!important;
}

.navbar-signed-in .navbar-brand {
	padding: 10px 0;
	height: 55px;
}

.navbar-signed-in .navbar-brand > span {
	position: relative;
	top: 0;
	padding-bottom: 2px;
}

.navbar-brand > span {
	display: flex;
	width: 200px;
	position: absolute;
	top: 17px;
	padding-bottom: 22px;
}

.navbar-brand > span > h1 {
	font-size: 3rem;
}

.candidate-profile-photo {
 	position: relative;
 	max-width: 150px;
}

.candidate-profile-add-photo {
	font-weight: bold;
	text-align: center;
	top: 110px;
	left: 0;
	width: 100%;
	position: absolute;
}

.potential-candidate {
}

.potential-candidate div > img {
	border: 1px solid #DEDEDE;
	width: 138px;
	height: 138px;
}

.potential-candidate .col-md-9 h2 {
	font-weight: 400;
	padding-bottom: 1rem;
}

.potential-candidate .col-md-9 h4 {
	font-weight: 400;
}
 
.action-icons {
 	display:block;
 	text-align: center;
 	padding: 1rem .5rem;
 }

.action-icons i {
	width: 100%;
	height: 35px;
	color: #DEDEDE;
	font-size: 2.2rem;
	cursor: pointer;
}

.action-icons .fa-star:hover {
	color: #F0AD4E;
}

.action-icons .fa-times:hover {
	color: #D9534F;
}

.box {
	overflow: hidden;
	position: relative;
	//border: 1px solid #DEE0E5;
	//margin: 30px auto;
	max-width: 500px;
	background-color: #FFF;
	color: #36373E;
	//border-radius: 0.2rem;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	z-index:1;
}

.profile-body {
	width: 100%; 
}

.box-yellow-light {
	padding: 1rem;
	background-color: #FCDD87;
	border: 1px solid #FFC200;
}

.box-yellow-light > a {
	color: #36373E;
}

.box-yellow-light:hover {
	cursor: pointer;
	border: 1px dashed #53545B;
}

.box-yellow-light:hover > a {
	
}

div.form-header {
	text-align: center;
	border-bottom: 1px solid #DEE0E5;
	padding: 3.4rem;
}

div.form-header h3 {
	font-family: 'Roboto', sans-serif;
	font-color: #36373E;
	font-style: normal;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 2px;
}

div.form-header > div {
	padding: 2rem;
}

div.field-error {
	display: inline-block;
	margin-left: 33%;
	padding-left: 2px;
	width: 66%;
	padding-bottom: 1rem;
	color: #E97174;
	font-size: 1.2rem;
}

div.field-hint {
	margin-left: 33%;
	width: 66%;
	padding-bottom: 1rem;
	color: #A4A5AD;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .1rem;
}

div.field-label {
	display: inline-block;
	width: 33%;
	text-align: left;
	vertical-align: middle;
}

div.field-label label {
	font-weight: 600;
	letter-spacing: .5pt;	
}

div.field-input {
	display: inline-block;
	width: 66%;
}

.field_with_errors label {
	color: #E14245;
}

.field_with_errors input {
	border: 1px solid #E14245 !important;	
}

.simple_form label {
	cursor: default;
}

.simple_form div.user_remember_me {
	width: 100%;
	margin-left: 20px;
	margin-top: 20px;
}

.simple_form div.user_remember_me label.checkbox {
    color: #666!important;
	font-size: 1.3rem!important;
}

#jobseeker-registration .field-container input,
#employer-registration .field-container input {
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	margin: 6px 0;
	padding: 0.8rem;
	transition: all 0.15s ease-in-out 0s;
	width: 100%;
}

#jobseeker-registration .field-container input:focus,
#employer-registration .field-container input:focus {
	outline: none;
	border: 1px solid #bdbdbd;
}

label.required:after {
    color: #E14245;
	content: " *";
}

/* For Tabs (Register) */
.tab-content {

position: relative;
border: 20px solid rgba(0, 0, 0, 0);
max-width: 500px;
width: 100%;
	margin-right: auto;
	margin-left: auto;

}

/* For Login Form */

.social {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	width: 82%;
}

.social h4 {
	color: #666;
	font-weight: normal;
	margin: 30px 0 20px;
	text-align: center;
}

.social ul {
	display: block;
}

.social ul li {
	list-style: none;
	float: left;
	width: 31.33%;
	margin: 0 1%;
}

.social ul li a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 6px;
	display: block;
	text-align: center;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;*/
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.social ul li a { background: #A4A5AD; /* opacity: .8;*/ }

.social ul li a.facebook:hover {
	background: #507CBE;
}

.social ul li a.linkedin:hover {
	background: #0280BD;
}
.social ul li a.google-plus:hover {
	background: #F16261;
}

.divider {
	background: #ddd;
	height: 2px;
	display: block;
	position: relative;
	width: 80%;
	margin: 30px auto;
}

.divider span {
	width: 30px;
	height: 20px;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: -12px;
	text-align: center;
	color: #999;
}

.field-container {
	width: 80%;
	margin: 20px auto;
}

#login-form .field-container label {
	color: #888;
	display: block;
	font-size: 14px;
	margin-top: 5px;
}

#login-form .field-container input[type="email"], 
#reset-password .field-container input[type="email"],
#login-form .field-container input[type="password"] {
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	margin: 6px 0;
	padding: 0.8rem;
	transition: all 0.15s ease-in-out 0s;
	width: 100%;
}

#login-form .field-container input[type="email"]:focus,
#reset-password .field-container input[type="email"]:focus,
#login-form .field-container input[type="password"]:focus {
	outline: none;
	border: 1px solid #bdbdbd;
}

a.btn-right {
	float: right;
}

a.btn-right:visited {
	text-decoration: none!important;
}

.text-p {
	font-size: 14px;
	text-align: center;
	margin: 10px 0;
}

.col-padding-left {
	display:flex; 
	flex-direction:column;
	justify-content:center;  
	padding-left: 100px;
	height: 460px;
}

.col-padding-right {
	display:flex; 
	flex-direction:column;
	justify-content:center;  
	padding-right: 100px;
	height: 460px;
}

@media (max-width: 480px) {
	form#login-form {
		 width: 90%;
		 margin: 30px auto;
	}
}

/* End Login Form */

/*flash Messages */
.alert {
	font-size: 1.4rem;
	font-weight: 500;
	border-radius: 0;
	margin-top: -60px;
    text-align: left;
}

.alert a.close {
	color: #53545B;
	font-size: 2.4rem;
	text-shadow: none;
	opacity: 0.5;
	line-height: .9;
}

.alert-error {
    background-color: #E97174;
    border-color: #E14245;
    color: #FFF;
 }

.alert-alert {
    background-color: #E97174;
    border-color: #E14245;
    color: #FFF;
 }

.alert-success {
    background-color: #55C9A9;
    border-color: #1CB78C;
    color: #FFF;
 }

.alert-notice {
    background-color: #55C9A9;
    border-color: #1CB78C;
    color: #FFF;
 }