// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-signed-in {
	background: #F1EFE2 none repeat scroll 0% 0%;
}

.navbar-signed-in li.drop > a {
	padding: 16px 15px;
}

.navbar-signed-in .navbar-brand {
	padding: 10px 0;
	height: 55px;
}

.navbar-signed-in .navbar-brand > span {
	position: relative;
	top: 0;
}

.navbar-brand > span {
	display: inline; 
	width: 250px;
	position: absolute;
	top: 17px;
	padding-bottom: 22px;
}

.candidate-profile-photo {
 	position: relative;
 	max-width: 150px;
}

.candidate-profile-add-photo {
	font-weight: bold;
	text-align: center;
	top: 110px;
	left: 0;
	width: 100%;
	position: absolute;
}

.box {
	overflow: hidden;
	position: relative;
	//border: 1px solid #DEE0E5;
	//margin: 30px auto;
	max-width: 500px;
	background-color: #FFF;
	color: #36373E;
	//border-radius: 0.2rem;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	z-index:1;
}

.profile-body {
	width: 100%; 
}

.box-yellow-light {
	padding: 1rem;
	background-color: #FCDD87;
	border: 1px solid #FFC200;
}

.box-yellow-light > a {
	color: #36373E;
}

.box-yellow-light:hover {
	cursor: pointer;
	border: 1px dashed #53545B;
}

.box-yellow-light:hover > a {
	
}

div.form-header {
	text-align: center;
	border-bottom: 1px solid #DEE0E5;
	padding: 3.4rem;
}

div.form-header h3 {
	font-family: 'Roboto', sans-serif;
	font-color: #36373E;
	font-style: normal;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 2px;
}

div.form-header > div {
	padding: 2rem;
}

div.field-error {
	display: inline-block;
	margin-left: 33%;
	padding-left: 2px;
	width: 66%;
	padding-bottom: 1rem;
	color: #E97174;
	font-size: 1.2rem;
}

div.field-label {
	display: inline-block;
	width: 33%;
	text-align: left;
	vertical-align: middle;
}

div.field-label label {
	font-weight: 600;
	letter-spacing: .5pt;	
}

div.field-input {
	display: inline-block;
	width: 66%;
}

.field_with_errors label {
	color: #E14245;
}

.field_with_errors input {
	border: 1px solid #E14245 !important;	
}

.simple_form label {
	cursor: default;
}

.simple_form div.user_remember_me {
	width: 100%;
	margin-left: 20px;
	margin-top: 20px;
}

.simple_form div.user_remember_me label.checkbox {
    color: #666!important;
	font-size: 1.3rem!important;
}

#jobseeker-registration .field-container input,
#employer-registration .field-container input {
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	margin: 6px 0;
	padding: 0.8rem;
	transition: all 0.15s ease-in-out 0s;
	width: 100%;
}

#jobseeker-registration .field-container input:focus,
#employer-registration .field-container input:focus {
	outline: none;
	border: 1px solid #bdbdbd;
}

label.required:after {
    color: #E14245;
	content: " *";
}

/* For Tabs (Register) */
.tab-content {

position: relative;
border: 20px solid rgba(0, 0, 0, 0);
max-width: 500px;
width: 100%;
	margin-right: auto;
	margin-left: auto;

}

/* For Login Form */

.social {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	width: 82%;
}

.social h4 {
	color: #666;
	font-weight: normal;
	margin: 30px 0 20px;
	text-align: center;
}

.social ul {
	display: block;
}

.social ul li {
	list-style: none;
	float: left;
	width: 31.33%;
	margin: 0 1%;
}

.social ul li a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 6px;
	display: block;
	text-align: center;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;*/
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.social ul li a { background: #A4A5AD; /* opacity: .8;*/ }

.social ul li a.facebook:hover {
	background: #507CBE;
}

.social ul li a.linkedin:hover {
	background: #0280BD;
}
.social ul li a.google-plus:hover {
	background: #F16261;
}

.divider {
	background: #ddd;
	height: 2px;
	display: block;
	position: relative;
	width: 80%;
	margin: 30px auto;
}

.divider span {
	width: 30px;
	height: 20px;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: -12px;
	text-align: center;
	color: #999;
}

.field-container {
	width: 80%;
	margin: 20px auto;
}

#login-form .field-container label {
	color: #888;
	display: block;
	font-size: 14px;
	margin-top: 5px;
}

//, .input-field input[type="text"] , .input-field input[type="number"]

#login-form .field-container input[type="email"], 
#login-form .field-container input[type="password"] {
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	margin: 6px 0;
	padding: 0.8rem;
	transition: all 0.15s ease-in-out 0s;
	width: 100%;
}

#login-form .field-container input[type="email"]:focus, 
#login-form .field-container input[type="password"]:focus {
	outline: none;
	border: 1px solid #bdbdbd;
}

.text-p {
	font-size: 14px;
	text-align: center;
	margin: 10px 0;
}

@media (max-width: 480px) {
	form#login-form {
		 width: 90%;
		 margin: 30px auto;
	}
}

/* End Login Form */

/*flash Messages */
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }