<style>
  body {
  	font-family: Verdana, Arial, Sans-serif;
  	font-size: .9rem;
  }
</style>

<p>Welcome <%= @resource.name %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
