<div id="content" style="background-color: #ECF0F1;">
   <div class="container">
     <%= render 'layouts/profile_sidebar' %>
     <div class="col-md-9">
     	<div class="box" style="max-width: 100%;">
     	  <div class="form-header"><h3>Blocked Companies</h3></div>
     	  <section style="padding: 3rem; margin: 0 auto;">
     	  	<div style="font-weight: 700; font-size: 1.3rem; letter-spacing: 1px;">Block companies from seeing your profile.</div>
            <div style="color: #BABBC1; font-weight: 400; text-rendering: optimizelegibility">
              Any employers listed here will not be able to search for or view your profile.
            </div>
     	  </section>
     	</div>
     </div>
   </div>
</div>