<div id="content" style="background-color: #ECF0F1;">
   <div class="container">
     <%= render 'layouts/profile_sidebar' %>
     <div class="col-md-9">
     	<div class="box" style="max-width: 100%;">
        <%= simple_form_for(@user, as: 'user', url: jobseeker_account_update_path, html: { method: :put, id: 'jobseeker-registration', multipart: true }) do |f| %> 
     	  <div class="form-header"><h3>Pitch</h3></div>
            <div class="field-container">
     	  	  <div style="font-weight: 700; font-size: 1.3rem; letter-spacing: 1px;">What is your greatest professional achievement and what are you looking for next in your career? <span class="accent-color">*</span></div>
     	  	  <div>
     	  	    Having a compelling pitch increases your chances of receiving interview requests from employers.
 	  	      </div>
            </div>
            <hr/>
            <div class="field-container">
              <%= f.input_field :pitch, required: true, id: 'pitch', as: :text %>
              <%= f.hidden_field :type, value: 'jobseeker' %>
            </div>
            <div style="clear: both;"></div>
          <hr/>
          <div class="form-footer field-container">
            <button id="submit" class="btn btn-system btn-large" type="submit" data-disable-with="Saving...">Save</button>
          </div>
        <% end %>
     	</div>
     </div>
   </div>
</div>

<% content_for :script do %>
  <script type="text/javascript">
    $("#pitch").characterCounter({
      onExceed: function(count) {
      }
    });
  </script>
<% end %>

