<div id="content" style="background-color: #ECF0F1;">
   <div class="container">
     <%= render 'layouts/profile_sidebar' %>
     <div class="col-md-9">
     	<div class="box" style="max-width: 100%;">
     	  <div class="form-header"><h3>Recommendations</h3></div>
     	  <section style="padding: 3rem; margin: 0 auto;">
     	  	<div>
              Recommendations add credibility to your profile, increasing your chances of receiving offers.<br/>
              Add people you've worked with and we'll send them an email with a link to write a recommendation.
            </div>	
     	  </section>
          <hr/>
          <section style="padding: 0 3rem; padding-bottom: 3rem; margin: 0 auto;">
            <div style="font-weight: 700; font-size: 1.3rem; letter-spacing: 1px;">Email Preview:</div>
          </section>
     	</div>
     </div>
   </div>
</div>