<div id="content" style="background-color: #ECF0F1;">
   <div class="container">
     <%= render 'layouts/profile_sidebar' %>
     <div class="col-md-9">
     	<div class="box" style="max-width: 100%;">
     	  <div class="form-header"><h3>Summary</h3></div>
     	  <section style="padding: 3rem; margin: 0 auto;">
     	  	<div style="font-weight: 700; font-size: 1.3rem; letter-spacing: 1px;">What's your story? <span class="accent-color">*</span></div>
     	  	<div>
     	  	  This is the most important part of your profile. The summary lets you express, in your own words, what you are looking for and what
              you have done. You can also include links to projects and other sites you are proud of here.
 	  	    </div> 	
     	    <hr/>
     	    <button id="submit" class="btn-system btn-large" type="submit" >Save</button>		
     	  </section>
     	</div>
     </div>
   </div>
</div>