    <!-- Start Content -->
    <div id="content">

      <!-- Start Services Section -->
      <div class="container">
        <div class="row">

          <!-- Start Big Heading -->
          <div class="big-title text-center" style="display: flex; flex-direction: row !important; justify-content: center; align-items: center; text-align: center;">
            <img alt="" src="<%= image_path('checkbox_green.png') %>" style="vertical-align: middle; margin-right: 2rem;"></img>
            <div>
              <h1>Better matches are on the way</h1>
              <p class="title-desc">In the meantime, feel free to <a href="#" style="text-decoration: underline;">edit your responses</a>. </p>
            </div>
          </div>
          <!-- End Big Heading -->

          <!-- Divider -->
          <hr/>
          <div class="hr1 margin-60"></div>

          <!-- Start Big Heading -->
          <div class="big-title text-center">
            <h1>What happens next if there's a fit for you on Headhunter?</h1>
          </div>
          <!-- End Big Heading -->

          <div class="hr1 margin-60"></div>

          <!-- Start Service Icon 1 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
            <div class="service-icon">
              <i class="fa fa-globe icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Worldwide</h4>
              <p>We have all the jobs available for you no matter where you are! Don't be afraid of being jobless anymore!</p>

            </div>
          </div>
          <!-- End Service Icon 1 -->

          <!-- Start Service Icon 2 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
            <div class="service-icon">
              <i class="fa fa-rocket icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Fast &amp; Easy</h4>
              <p>Think it is a hassle to find a job online? Fret not! Just upload your resume and that's about it!</p>
            </div>
          </div>
          <!-- End Service Icon 2 -->

          <!-- Start Service Icon 3 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
            <div class="service-icon">
              <i class="fa fa-envelope icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Notification</h4>
              <p>Get instant notifications when there are companies interested in you. That means: Less hours on the lookout for jobs.</p>
            </div>
          </div>
          <!-- End Service Icon 3 -->

          <!-- Start Service Icon 4 -->
          <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="04">
            <div class="service-icon">
              <i class="fa fa-code icon-large"></i>
            </div>
            <div class="service-content">
              <h4>Job Matching</h4>
              <p>We bring jobs to you after deep analyzing on your particular set of skills from your profile. So now, you can do what you do best!</p>
            </div>
          </div>
          <!-- End Service Icon 4 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
      <!-- End Services Section -->

      <!-- Divider -->
      <hr/>
      <div class="hr1 margin-60"></div>

      <!-- Start Big Heading -->
      <div class="big-title text-center">
        <h1>Otherwise, if there isn't a fit for you this time....</h1>
        <p class="title-desc">You'll be added to our waitlist and we'll reach out to you when we can promise you a great experience on Headhunter.</p>
      </div>
      <!-- End Big Heading -->
    </div>
    <!-- .content -->

<% content_for :script do %>
  <script type="text/javascript">
    history.replaceState ? history.replaceState(null, null, window.location.href.split('#')[0]) : window.location.hash = '';
  </script>
<% end %>    